.items {
  list-style-type: none;
  padding: 0;
}

.container {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: #0f0f15;
  border-radius: 12px;
}

.tasksToDoText {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: #ffffff;
}

.sortText {
  padding-left: 1em;
  color: #ffffff;
}

.dropdown {
  background: #2a2a3d;
  border: 1px solid #444;
  border-radius: 6px;
  color: #fff;
  padding: 5px;
}

.searchContainer {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
  margin-bottom: 1em;
}

.input {
  background: #2a2a3d;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 0.95rem;
}

.inlineBlock {
  display: inline-block;
}

.white {
  color: white;
}

.searchBtn,
.resetBtn,
.deleteBtn,
.editBtn,
.signOutBtn {
  width: 3em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editBtn {
  margin-left: 1em;
  margin-right: 0.5em;
}

.task-item {
  margin-bottom: 20px;
  list-style: none;
  padding: 12px;
  border-radius: 10px;
  background: #2a2a3d;
  color: white;
}

.task-item .description {
  font-size: 0.85rem;
  color: #aaa;
  margin: 0.5em 0 0 0;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.task-buttons {
  display: flex;
  gap: 8px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f0f15;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #1e1e2f;
  padding: 25px 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

.popup-content h2 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.popup-content form .input,
.popup-content textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #2a2a3d;
  color: #fff;
  font-size: 0.95rem;
}

.popup-content button {
  margin-top: 10px;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 430px) {
  .tasksToDoText {
    display: block;
    margin-bottom: 0;
  }

  .popup-content {
    width: 85%;
  }
}
