.items {
  list-style-type: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: #121212;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em; 
}

.searchBtn, .resetBtn{
  margin-top: 0;
}

.inlineBlock{
  display: inline-block;
}

.deleteBtn, .editBtn, .signOutBtn, .resetBtn, .searchBtn {
  width: 3em;
  
}

.editBtn{
  margin-left: 1em;
  margin-right: 0.5em;
}

.searchBtn{
  margin-left: 0.1em;
}