.signInPage {
  margin: 0;
  padding: 0;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signInContainer {
  background-color: #1e1e1e;
  padding: 50px 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 400px;
}


@media (max-width: 500px) {
  .signInContainer {
    padding: 30px 20px;
  }

  .input {
    width: 100%;
  }

  .btn1,
  .btn2 {
    font-size: 14px;
    padding: 12px;
  }
}
