.signUpPage {
  margin: 0;
  padding: 0;
  background-color: #121215;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.signUpContainer {
  background-color: #1e1e1e;
  padding: 50px 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 400px;
  display: block;
}

.link {
  color: #9b7cf9;
}

@media (max-width: 500px) {
  .signUpContainer {
    padding: 30px 20px;
  }

  .btn1,
  .btn2 {
    font-size: 14px;
    padding: 12px;
  }
}
